body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    height: 80px;
}

a { 
    color: black;
    text-decoration: none;
}

table {
    width: 100%;
    margin: 5px auto;
    border: none;
    border-collapse: collapse;
    font-size: 24px;
}

th, td {
    border: none;
    padding: 10px;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Carrusel */
.carousel-container {
    position: relative;
    width: 30%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Nuevos estilos para los recuadros */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.box {
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
}

.content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    width: 100%;
}

.box button {
    background: white;
    color: green;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    position: static;
}

.box button:hover {
    background: green;
    color: white;
}
